{% extends 'base.html' %}
{% block title %} About | Timur Karabaev {% endblock title %}

{% block content %}
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{about_me.image.url}});">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">About</h1>
		            <h2 class="mb-4">About Me</h2>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Name:</span> <span>{{about_me.name}}</span></li>
		            	<li class="d-flex"><span>Date of birth:</span> <span>{{about_me.data_brith}}</span></li>
		            	<li class="d-flex"><span>Address:</span> <span>{{about_me.address}}</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>{{about_me.email}}</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span>{{about_me.phone_number}}</span></li>
                </ul>
                <div class="social-links flex align-items-center">

                  {% for social in social_media %}
                    <a href="{{social.icon_info}}" class="py-4 px-4" ><i class="{{social.icon}}" ></i></a>
                  {% endfor %}
                </div>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
              	<p class="mb-4">
	                <span class="number" data-number="{{about_me.complate_project}}">{{about_me.complate_project}}</span>
	                <span>Project complete</span>
                </p>
                <p><a href="{% url 'download_file' %}" class="btn btn-primary py-3 px-3">Download CV</a></p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>
	 
    <section class="ftco-section ftco-no-pb" id="resume-section">
    	<div class="container">

    		<div class="row justify-content-center pb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Experiance</h1>
            <h2 class="mb-4">Experiance</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>
    		<div class="row">
    			{% for experiance in experiances %}
          <div class="col-md-6">
    				<div class="resume-wrap ftco-animate">
    					<span class="date">{{experiance.year}}</span>
    					<h2>{{experiance.posisions}}</h2>
    					<span class="position">{{experiance.company_name}}</span>
    					<p class="mt-4">{{experiance.descriptions|safe}}</p>
    				</div>
    			</div>
          {% endfor %}
    			<!-- <div class="col-md-6">
    				<div class="resume-wrap ftco-animate">
    					<span class="date">2014-2015</span>
    					<h2>Art &amp; Creative Director</h2>
    					<span class="position">Cambridge University</span>
    					<p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    				</div>   				
    			</div> -->
    		</div>
    		<div class="row justify-content-center mt-5">
    			<div class="col-md-6 text-center ftco-animate">
    				<p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section" id="skills-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">Skills</h1>
        <h2 class="mb-4">My Skills</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
            <div class="row">
              {% for skill in skills %}
                <div class="col-md-6 animate-box">
                    <div class="progress-wrap ftco-animate">
                        <h3>{{ skill.title }}</h3>
                        <div class="progress">
                             <div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
                              aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.skill_style_with }}%">
                            <span>{{ skill.skill_style_span }}%</span>
                              </div>
                        </div>
                    </div>
                </div>    
              {% endfor %}
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Our Projects</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>

    		<div class="row">
          {% for project in project_name %}
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ project.image.url }});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="{% url 'project_single' project.id %}">{{ project.title }}</a></h3>
	    				</div>
    				</div>
  				</div>
          {% endfor %}

  				

    		</div>
    	</div>
    </section>

    <section class="ftco-section" id="blog-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
              <h1 class="big big-2">Blog</h1>
              <h2 class="mb-4">Our Blog</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
          </div>
          <div class="row d-flex">
            {% for blog in my_blogs|slice:":3" %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">  
                <a href="{% url 'blog_single' blog.id %}" class="block-20" style="background-image: url({{blog.thumbnail.url}});">
                </a>
                <div class="text mt-3 float-right d-block">
                    <div class="d-flex align-items-center mb-3 meta">
                      <p class="mb-0">
                          <span class="mr-2">{{blog.created}}</span>
                          <a href="#" class="mr-2">{{user.username}}</a>
                          <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                      </p>
                  </div>
                  <h3 class="heading"><a href="{% url 'blog_single' blog.id %}">{{blog.title}}</a></h3>
                  <p>{{blog.body|safe|slice:"150"}}</p> 
                </div>
              </div>
            </div> 
            {% endfor %}
          </div>
        </div>
    </section>


{% endblock content %}

 