{% extends 'base.html' %}
{% block title %} Blog | Timur Karabaev {% endblock title %}

{% block content %}

<section class="ftco-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2">Blog</h1>
          <h2 class="mb-4">Our Blog</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
      </div>
      <div class="row d-flex">
        {% for blog in blogs %}
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
            <a href="{% url 'blog_single' blog.id %}" class="block-20" style="background-image: url({{blog.thumbnail.url}});">
            </a>
            <div class="text mt-3 float-right d-block">
                <div class="d-flex align-items-center mb-3 meta">
                  <p class="mb-0">
                      <span class="mr-2">{{blog.created}}</span>
                      <a href="#" class="mr-2">{{user.username}}</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> {{count}}</a>
                  </p>
              </div>
              <h3 class="heading"><a href="{% url 'blog_single' blog.id %}">{{blog.title}}</a></h3>
              <p>{{blog.body|safe|slice:"150"}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
</section>




{% endblock%}