{% extends 'base.html' %}
{% block title %} Proejct Singel | Timur Karabaev {% endblock title %}
{% load static %}
{% block content %}
	  

	  <section class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
            <h1 class="mb-3 bread">Project Single </h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="about.html">Project <i class="ion-ios-arrow-forward"></i></a></span> <span>Project Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">{{ project_single.title }}</h2>
            <p>{{ project_single.description|safe }}</p>
          
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Life</a>
                <a href="#" class="tag-cloud-link">Sport</a>
                <a href="#" class="tag-cloud-link">Tech</a>
                <a href="#" class="tag-cloud-link">Travel</a>
              </div>
            </div>
            
            

            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{count}} Comments</h3>
              <ul class="comment-list">
              {% for comment in project_comment %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{comment.name}}</h3>
                    <div class="meta">{{comment.created|timesince}}</div>
                    <p>{{comment.body}}</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
                {% endfor %}
              
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form method="POST" class="p-5 bg-dark" >
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                        {{field}}
                    </div>
                  {% endfor %}
                    <div class="form-group">
                      <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                    </div>
                </form>
              </div>
            </div>


          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
           

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Recent Blog</h3>
              {% for random_blog in blog_random_object %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" href="" style="background-image: url({{random_blog.thumbnail.url}});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#"></a>{{random_blog.title}}</h3>
                  <div class="meta">
                    <div><a href=""><span class="icon-calendar"></span>{{ random_blog.created }}</a></div>
                    <div><a href=""><span class="icon-person"></span> {{user.username}}</a></div>
                    <div><a href=""><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">house</a>
                <a href="#" class="tag-cloud-link">office</a>
                <a href="#" class="tag-cloud-link">building</a>
                <a href="#" class="tag-cloud-link">land</a>
                <a href="#" class="tag-cloud-link">table</a>
                <a href="#" class="tag-cloud-link">interior</a>
                <a href="#" class="tag-cloud-link">exterior</a>
                <a href="#" class="tag-cloud-link">industrial</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->
		

 
    
{% endblock content %} 
